@import url('https://fonts.googleapis.com/css2?family=Flamenco&display=swap');
body{
    background-color: rgba(0, 0, 0, 0.1);
}
.container-menu{
    display: flex;
    font-family: 'flamenco';
    border-bottom: 1px solid black;
    width: 100%;
    height: 150px;
}
.logo{
    width: 50%;
}
.menu{
    display: flex;
    width: 50%;
    font-size: 25px;
    justify-content: flex-end;
    align-items: flex-end;
}
ul{
    display: flex;
    list-style: none;
    margin-bottom: 15px;
}
li{
    
    flex-direction: row;
}
a{
    color: #000;
    text-decoration: none;
    margin-right: 25px;
}
a:focus{
    color:#000;
}